#show-comments {
	overflow: hidden;
}

#show-comments a {
	float: right;
}

#show-comments .spinner {
	float: none;
	margin-top: 0;
}

#comment-link-box {
	line-height: 1.84615384;
	min-height: 25px;
	margin-top: 5px;
	padding: 0 10px;
	color: #646970;
}

#comment-link-box {
	margin: 5px 0;
	padding: 0 5px;
}

#post-body .misc-pub-comment-status:before {
	color: #8c8f94;
}

#post-body .misc-pub-comment-status:before {
	font: normal 20px/1 dashicons;
	speak: never;
	display: inline-block;
	margin-right: -1px;
	padding-left: 3px;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#post-body .misc-pub-comment-status:before {
	content: "\f173";
}

#comment-status-radio {
	line-height: 1.5;
	margin-top: 3px;
}

/* Comments */

.comment-php .wp-editor-area {
	height: 200px;
}

.comment-ays th,
.comment-ays td {
	padding: 10px 15px;
}

.comment-ays .comment-content ul {
	list-style: initial;
	margin-right: 2em;
}

.comment-ays .comment-content a[href]:after {
	content: "(" attr( href ) ")";
	display: inline-block;
	padding: 0 4px;
	color: #646970;
	font-size: 13px;
	word-break: break-all;
}

.comment-ays .comment-content p.edit-comment {
	margin-top: 10px;
}

.comment-ays .comment-content p.edit-comment a[href]:after {
	content: "";
	padding: 0;
}

.comment-ays-submit .button-cancel {
	margin-right: 1em;
}

.stuffbox .editcomment {
	clear: none;
	margin-top: 0;
}

#namediv.stuffbox .editcomment input {
	width: 100%;
}

#namediv.stuffbox .editcomment.form-table td {
	padding: 10px;
}

#comment-status-radio p {
	margin: 3px 0 5px;
}

#comment-status-radio input {
	margin: 2px 0 5px 3px;
	vertical-align: middle;
}

#comment-status-radio label {
	padding: 5px 0;
}

@media screen and (max-width: 782px) {
	#namediv.stuffbox .editcomment.form-table td {
		padding: 5px 10px;
	}

	/* Discussion */
	#commentstatusdiv p {
		line-height: 2.8;
	}

	/* Moderate Comment */
	.comment-ays th,
	.comment-ays td {
		padding-bottom: 0;
	}

	.comment-ays td {
		padding-top: 6px;
	}
}
